@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveDown {
    from {
        transform: translateY(-2px);
    }
    to {
        transform: translateY(100vh);
    }
}
@keyframes aurora-premium {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
  }
  
  

#heading_displayer{
    display: none;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%,-50%);
}

::selection {
    background: rgba(170, 170, 170, 0.3);
}

.heading {
    font-family: 'Spartan', sans-serif;
    color: #2d2d2d;
    margin: 80px 0 0 80px;
    width: max-content;
}

.heading > div {
    overflow: hidden;
}

.heading > div > p {
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 120%;
}

.green {
    color: #32c267;
}


.slide-up {
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.heading > div:nth-child(2) > p.slide-up {
    animation-delay: 0.05s;
}

.heading > div:nth-child(3) > p.slide-up {
    animation-delay: 0.05s; 
}
